<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="pagina1.component.css" type="text/css">
</head>
<body>
  <div class="contenedor">
      <div class="contenedor">
      <div align="center" class="login">
        
        <h1>L O G I N</h1>
        <form>
          <label>Por Favor, ingresa tu correo y contrasena</label>
          <br>
          <br>
          <input class="controls" type="email" name ="email" placeholder="Username">
          <br>
          <br>
          <input class="controls" type="password" name ="password" placeholder="Password">
          <br>
          <br>
          <input type="submit" value="LogIn" (click)="compras()" class="boton">
          <input type="submit" value="No_LogIn" (click)="login2()" class="boton">
          <br>
        </form>
      </div>
    </div> 
  </div>
</body>
</html>
