*{ background-image:url('https://t3.ftcdn.net/jpg/02/82/98/04/360_F_282980424_InJLdo8nrNJnxqyFy4pfIKSUOdMUIFcQ.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
color: #FFFFFF;
}
 
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    
  }
  .contenedor{
    height: 100vh;
    margin: 0%;
    


    display: flex;
    align-items: center;
  

  }
  .login{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
  }
  .boton{
    color: blueviolet;
  }